[submodule "CPP/external/ik-geo"]
	path = CPP/external/ik-geo
	url = https://github.com/OstermD/ik-geo.git
[submodule "CPP/external/eigen"]
	path = CPP/external/eigen
	url = https://gitlab.com/libeigen/eigen.git
